.position
{
   margin-top : 5%;
    margin-left : 30%;
    margin-bottom : 10%;
    font-family: "GeosansLight";
    font-size : 120%;
}

.position2
{
   margin-top : 0%;
    margin-left : 10%;
    margin-bottom : 20%;
    margin-right: 10%;
    font-family: "GeosansLight";
    font-size : 120%;
}

.txt{
    border : 2px solid white;
    padding : 3%;
    background-color: white;
    border-radius : 10px;
    opacity : 0.9;
    margin-bottom: 3%;
}

.link
{
    text-decoration: none;
    color:#0b2d92;
}

.Title{
    text-align: center;
    width : 60%; 
    padding : 1% 3% 1% 3%;
    background-color: white;
    border-radius : 10px;
    opacity : 0.9;
   
}

body{
 background-image: url("../pictures/charte.jpg"); 
 background-repeat : no-repeat;
  background-size: cover;
    background-attachment: fixed;
}

.liste
{
    list-style-type: none;
}


