
 .sub
{
    margin-left : 25%;
    margin-top : 5%;
     background: #3498db;
     width:17%;
    background-color: #00BCE0;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 0px;
  font-family: "GeosansLight";
  color: white;
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}   
 .sub :hover {
  background: #83EBC6;
  text-decoration: none;

      
}
.RightCol{
   
    margin-top : 5%;
    margin-left : 30%;
    font-family: "GeosansLight";
    font-size : 120%;
 
}

.label
{
width: 16em;
float: left;
text-align:left;
margin-right: 0.5em;
display: block
}

.form{
    border : 2px solid white;
    width : 60%; 
    padding : 3%;
    background-color: white;
    border-radius : 10px;
    opacity : 0.9;
}

.aménagement, .ville{
 margin-left: 51.4%;   
}

body{
 background-image: url("../pictures/sunburst-scenery1920x1200.jpg");  
}

