/* 
    Created on : 16 déc. 2014, 12:41:34
    Author     : Thomas
*/

.forumFrame {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
}

table.messageTable {
    background-color: #FFFFFF;
    padding: 3px;
    width: 95%;
    border: 1px solid black;
}

td.posterFullInfo {
    width: 15%;
    border: 1px solid black;
}

div.messageInfo {
    font-style: italic;
    font-size: small;
}

td.message {
    width: 80%;
    border: 1px solid black;
}