.MiddlePage
{
    font-family: "GeosansLight";
    position: relative;
z-index: 10;
padding:0.5%;
}

.sub1, .sub2
{
     width:100%;
background-color: #00BCE0;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 0px;
  font-family: "GeosansLight";
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display : inline-block;
}   
.sub1:hover .sub2:hover{
  background: #83EBC6;
  text-decoration: none;      
}

.topsub{
    margin-top : 5%;
    width : 95%;
    margin-left : 2%;
    
}
.topsub1{
    width : 20%;
    display : inline-block;
}
.sub2{
    margin-left: 297%;
}

.title
{
    margin-top : 1%;
text-align : center;
font-size : 200%;
background-color: white;
opacity : 0.9;
width : 95%;
margin-left : 2%;
border-radius : 10px;

}
.white {
  background-color: white;
  position:absolute; 
  z-index:-1; 
  top:10%; 
  left:2.5%; 
  right:3.5%; 
  bottom:20%;
  opacity:0.9; 
  border-radius: 10px;
}

.img
{
margin-left : 4%;
margin-bottom : 5px;
display : inline-block;
width : 45%;
vertical-align : top;

}
.image1
{
width: 98%;
}

.caroussel
{
margin : 1%;
width : 98%;
height :200px;
vertical-align : middle;
text-align : center;
z-index: 10;

}

.piccar
{
width : 20%;  

}

.info
{
padding : 10 px;
margin-bottom : 5px;
padding : 1%;
display :inline-block;
width : 43.5%;
vertical-align : top;
padding-bottom : 10%;
}

.ownerimg
{
    margin-top : 5%;
width : 60%;
display: inline-block;
vertical-align : middle;
margin-left : 20%;
}
.Login{
    text-align: center;
}
.Desc{
    text-align:justify;
}

.ownerdata
{
margin-left : 1%;
width : 50%;
display: inline-block;
vertical-align : middle;
}

.o
{
list-style-type : none;
display : inline;
background-color: #00BCE0;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-right : 2px;
}   
.o:hover {
  background: #83EBC6;
  text-decoration: none;      
}
.desc, .ad, .ownerinfo
{
display : inline-block;
vertical-align : middle;
width : 92.7%;
padding:3%;
background-color: #00BCE0;
margin-top : 1.5%;
height : 600px;

}
.desc, .ad
{
text-align : justify;

}


.map
{

width : 30%;
vertical-align : middle;
display: inline-block;
 background-color: #00BCE0;
  
}

.annonce
{
border :1px solid black;
background-color: #45a9d5;
text-align : center;
width : 25%;
padding : 1%;
margin : 1%;
display : inline-block;
margin-left : 5%;
}
.whitecom {
  background-color: white;
  position:absolute; 
  z-index:-1; 
  top:85%; 
  left:2.5%; 
  right:3.5%; 
  bottom:-20%;
  opacity:0.9; 
  border-radius: 10px;
}
.comments{
    margin-left : 4%;
    width: 90%;
}

.commentbox
{
background-color :#ffc7ab;
margin : 1%;
}
.commentauthor
{ 
margin : 1%;
width : 25%;
text-align : center;
display : inline-block;
}
.userimg
{
width : 90%;
margin : 1%;
}

.comment
{
width : 65%;
margin : 1%;
padding: 1%;
display : inline-block;

}

.comment, .commentauthor
{
vertical-align : middle;
}
body{
 background-image: url("../pictures/photo-photo-paysage-urbain-5.jpg"); 
 background-repeat : no-repeat;
  background-size: cover;
    background-attachment: fixed;
}
.subimg{
   width : 22%;
    float: left;
    margin: 1%;
    border: 1px solid black;
    height : 80px;
   
}

.image-shown{
    width : 100%;
    height : 80px;  
}

