.MiddlePage
{
    font-family: "GeosansLight";
}

.sub
{
 
     width:30%;
background-color: #00BCE0;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 0px;
  font-family: "GeosansLight";
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}   
.sub:hover {
  background: #83EBC6;
  text-decoration: none;      
}