.mailboxtoolbar, .mailboxtable 
{
display:inline-block;
vertical-align :top;
}
.mailboxtoolbar
{
    padding : 2%;
    margin : 1%;
    background-color:#B6E1DB;
    width : 10%;
    
    font-family:"GeosansLight";
    color: white;
    text-align : center;
    vertical-align:middle;
    font-size : 120%;
    border-radius: 10px;
    
}

table 
{ 
    font-family:"GeosansLight";
    width: 380%;
    border-collapse: collapse;
    font-size : 120%;
}
table, th, td {
   border: 1px solid black;
   
} 

th
{
   background-color:#85C2BA;
   height: 40px; 
}
td 
{
    padding: 3px;
    background-color : #B6E1DB;
}

caption
{
    padding: 10px;
    background-color:#85C2BA;
    border-radius: 10px;
    margin: 1%;
    height : 30px;
    
    font-size : 150%;
    text-align : center;
}


.newmsg{
    width: 80%;
    
    background-color: #B6E1DB;
    display : inline-block;
    vertical-align :top;
    border-radius: 10px;
    
}
.champ{
    width: 90%;
    backgroud-color: blue;
}
textarea{
    width: 90%;
    height:300px;
    margin-left: 4.5em;
    blackground-color : white;
}
label
{
width: 4em;
float: left;
text-align: right;
margin-right: 0.5em;
display: block
}

.submit input
{
margin-left: 4.5em;
}

li
{list-style-type : none}