.newmsg{
    width: 100%;
    border :2px solid black;
    background-color: white;
}
.champ{
    width: 90%;
    backgroud-color: blue;
}
textarea{
    width: 90%;
    height:300px;
    margin-left: 4.5em;
}
label
{
width: 4em;
float: left;
text-align: right;
margin-right: 0.5em;
display: block
}

.submit input
{
margin-left: 4.5em;
}

.mailbox_toolbar
{
    background-color: #0cc785;
}