

.ProfilePic2
{
border:solid 1px ;
border-color: black;
height:100px;
width:100px;

margin-top:20px;
border-radius:50px;
overflow:hidden;
float:left;
}

.login
{
    
}
.mbrsince
{
    
}

.Profile{
    margin-left: 10%;
    margin-right: 10%;
}