
.housebox
{   
    background-color: orange;
    border-radius : 10px;
    opacity : 0.9;
margin-bottom: 5%;
width : 90%;
margin-left : 5%;
}
.houseleft
{ 
margin : 1%;
width : 27%;
text-align : center;
display : inline-block;
}
.houseimg
{
width : 90%;
margin : 1%;
}

.desc_tilte
{
width : 65%;
margin : 1%;
padding: 1%;
display : inline-block;
text-align: justify;

}
.desc_tilte, .houseleft
{
vertical-align : middle;
}

.sub{   
    margin-top : 5%;
    margin-left : 40%;
     width:30%;
background-color: #00BCE0;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 0px;
  font-family: "GeosansLight";
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}   

.sub:hover {
  background: #83EBC6;
  text-decoration: none;      
}

.allMyHouses
{
    margin-top: 5%;
    font-family: "GeosansLight";
}

.title{
   font-weight: bold;
   font-size : 200%;
    text-align: center;
    
}