.allMyHouses
{
font-family: "GeosansLight";
position:absolute;
top:20%;
left:10%;
width:80%
}

.blockMyHouses
{
border:solid 1px;
border-radius:5px;
height:10%;
margin-top:5%;
background-color:gainsboro;
}

.picMyHouses
{
width:50%;
height:90%;
overflow:hidden;
padding-left:2%;
margin-top:2%;
}


/* button*/
.newHouseButton
{
margin: auto;
}

.sub{   
    margin-top : 5%;
    margin-left : 40%;
     width:30%;
background-color: #00BCE0;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 0px;
  font-family: "GeosansLight";
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}   

.sub:hover {
  background: #83EBC6;
  text-decoration: none;      
}
.titleMyHouses
{
display : inline-block;
}