
body{
 background-image: url("../pictures/leaf.jpg"); 
 background-repeat : no-repeat;
  background-size: cover;
    background-attachment: fixed;
}

.resultSearch
{
   text-align: center;
   border:2px solid black;
   margin-bottom:20px;
   margin-top:200px;
   
   
}
.housebox
{   
    background-color: #d1fa98;
 
    border:  10px solid white;
    opacity : 0.9;
margin-bottom: 5%;
width : 86%;
margin-left : 5%;
padding : 1%;
}
.houseleft{
    display: inline-block;
    width:20%;
    margin:1%;
}
.houseimg
{
   
width : 95%;
margin : 1%;
}

.desc_tilte
{
width : 65%;
margin : 1%;
padding: 1%;
margin-left: 5%;
display : inline-block;
text-align: justify;

}
.desc_tilte, .houseleft
{
vertical-align : top;
}


.title{
   font-weight: bold;
   font-size : 200%;
    text-align: center;
    
}


.sub{   
    margin-top : 1%;
    margin-left : 35%;
     width:30%;
background-color: #00BCE0;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 0px;
  font-family: "GeosansLight";
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}   

.sub:hover {
  background: #83EBC6;
  text-decoration: none;      
}
