/*css recherche*/

.titleIntMap
{
text-align:center;
}
.map
{
 display:inline-block;
 vertical-align: top;
 position:absolute;
 margin-top:40px;
 margin-left: 3%;
}
.search
{
    margin-top : 2%;
    margin-left : 51%;
    margin-bottom : 10%;
    font-family: "GeosansLight";
    font-size : 120%;
position:absolute;
vertical-align: top;

background-color:white;
opacity : 0.9;
padding : 2%;
border-radius : 5%;


}

.label
{
font-family: "Times New Roman", Serif;
font-size: 15px;
}

.StartSearch
{

background-color: white;
margin-right:20px;
display:block;
width:25%;
text-align:center;
border:solid 2px;
box-shadow: 6px 6px black ;
border-radius: 5px;
}


.sub
{
    margin-top : 10%;
    margin-left : 35%;
     width:30%;
background-color: #00BCE0;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 0px;
  font-family: "GeosansLight";
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}   
.sub:hover {
  background: #83EBC6;
  text-decoration: none;     
}

.column2, .column1
{
   display : inline-block;
}
  
.column2{
    margin-left : 20%;
}


input{
    cursor : pointer;}

.titleIntMap{
    margin-top : 5%;
}

.Title {
    margin-top : 5%;
    font-family: "GeosansLight";
    background-color:white;
    opacity : 0.9;
    padding : 1% 2% 1% 2%;
border-radius : 20px;
text-align : center;
font-size : 200%;
width : 90%;
margin-left: 3%; 
}

body{
 background-image: url("../pictures/search-background.jpg"); 
 background-repeat : no-repeat;
  background-size: cover;
    background-attachment: fixed;
}
.LabDate,.subtitle
{
    font-weight: bold ;
}