<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="accueil_first.css">
	</head>
	<body>
		<div class="page">


<div class="carousel-outer">

<a class="previouslink" href="#">Previous</a>

	<div class="carousel-inner">
		<img class="image-shown" src="house1.jpg" alt="house1"/>
		<img class="image-hidden" src="house2.jpg" alt="house2"/>
		<img class="image-hidden" src="house3.jpg" alt="house3"/>
		<img class="image-hidden" src="house4.jpg" alt="house4"/>
	</div>

	<a class="nextlink" href="#">Next</a>
</div>


		</div>
            <div id="searchbar">
                    <div class="searchbox"></div>
                	<form class="formHome" action="content.php?page=searchKeyWords" method="post">
               		<input type="text" name="keyWords" placeholder="PARTIR A LA DECOUVERTE" class="placeholderHome" />
                        </br>
                        </br>
                        </br>
                     <input class="sub" type="submit" value="GO" /> 
                    </form>
                <div class="texte" size=6 color=white> 
            <?php if (isset($_SESSION['userLogin']))
                            {
                                echo $_SESSION['slogan']; 
                            }
                            else 
                            {
                                echo 'LEURS MAISONS, VOS VACANCES';
                            }
                            ?> 
            </div>
		<script type="text/javascript" src="jquery.js"></script>
		<script type="text/javascript" src="javas.js"></script>
	</body>
</html>